<%= render 'shared/errors', obj: @article %>

<div class='row'>
  <div class='col-xs-8'>
    
    <%= form_for(@article, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :title %>        
        </div>
        <div class="col-sm-10">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of Issue", autofocus: true %>
        </div>
      </div>


      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :description %>
        </div>
        <div class="col-sm-10">
          <%= f.text_area :description, rows:10, class: "form-control", placeholder: "Improvement / Problem Details" %>
        </div>
      </div>
      
      
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :action %>
        </div>
        <div class="col-sm-10">
          <%= f.text_area :action, rows:10, class: "form-control", placeholder: "Agreed Action" %>
        </div>
      </div>
      
      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label "Target Completion Date" %>
        </div>        
        <div class="row">
          <div class='col-sm-6'>
            <%= f.text_field :action_target_date, value: (@article.action_target_date.strftime('%d/%m/%Y') if @article.action_target_date), class: "custom_date_picker" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label "Action Owner" %>
        </div>
        <div class="col-sm-10">
          <%= f.text_field :action_user, class: "form-control", placeholder: "Owner" %>
        </div>
      </div>      
      
      
      
      <div class="form-hgroup">
        <div class="row">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.collection_radio_buttons :category_id, Category.all, :id, :name do |cb| %>
              <% cb.label(class: "radio-inline") {cb.radio_button(class: "radio-inline") + cb.text} %>
            <% end %>
          </div>
        </div>
      </div>      
      
      
      <div class="form-hgroup">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit(@article.new_record? ? "Create Issue" : "Update Issue", class: 'btn btn-primary btn-lg') %>
        </div>
        
      </div>
      
    <% end %>


    <div class="col-xs-6 col-xs-offset-5">
      [ <%= link_to "Cancel request and return to issues listing", articles_path %> ]
    </div>

  </div>
  
</div>