<h2 align="center"> Title: <%= @article.title %> </h2>


<div class="well col-xs-8 col-xs-offset-2">
  
  <% if @article.user %>
    <ul class="listing">
      <div class="row center">
        <div class="col-md-4 col-md-offset-4">
          <li>Created By:</li>
          <li>
            <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
          </li>
          <li class="article-title">
            <%= link_to @article.user.username, user_path(@article.user) %>
          </li>
          <li>
            <small><%= pluralize(@article.user.articles.count, "improvement") if @article.user.articles %> </small>
          </li>
        </div>
      </div>
    </ul>  
  <% end %>

  <br>
  <h4>Title: </h4><%= @article.title %>
  <br>
  <br>
  <h4 class="left description"><string>Description:</string></h4>
  <%= simple_format(@article.description) %>
  <br>
  <strong>Category: </strong><%= @article.category.name %>
  <br><br>



  <div class="article-actions">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete", article_path(@article), method: :delete, 
                                          data: {confirm: "Are you sure you want to delete the issue?"}, 
                                          class: "btn btn-xs btn-danger" %>
    <% end %>                                        
    <%= link_to "View all", articles_path, class: "btn btn-xs btn-success"  %>  
  </div>
</div>


  
<% if @article.article_notes.any? %>
  <h2 class="col-xs-8 col-xs-offset-2">Notes</h2>
  <p><%= render 'article_notes/article_note' %></p>
<% end %>


